<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">




<div class="container">
    <div class="jumbotron">
        <h1>Login</h1>

<form action="/login" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
        <small id="emailHelp" class="form-text text-muted">Do not share it with others</small>
    </div>
    <button type="submit" class="btn btn-primary">Log me in</button>
</form>
<li><a href="/register">Im a new user</a></li>
<li><a href="/">go to home page</a></li>
</div>
</div>


  